*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}



nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 1em;
    justify-content: space-around;
    z-index: 3;
    border: 1px solid #636472;
    background: black;
    backdrop-filter: blur(13.350000381469727px);

}

nav .opcoes  {
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    border-radius: 30px;

}

.nav .opcoes:hover {
  scale: 1.1;
  transition: all 0.5s;
}

nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



nav .opcoes a {
    color: white;
    padding: 1em;
    font-size: 18px;
    text-transform: uppercase;
}

nav .opcoes a:hover {
  scale: 1.1;
  transition: all 0.5s;
}




nav button.menu {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
}

nav button.menu span {
    background-color: aquamarine;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    transition: all 0.3s;
}

nav button.menu span.um {
    width: 25px;
    bottom: 4px;
    right: 0;
}

nav button.menu span.dois {
    width: 35px;
    top: 4px;
    right: 0;

}

nav button.menu.ativo span {
    background-color: rgb(249, 0, 0);
    position: absolute;
    border-radius: 5px;
    height: 3px;
}

nav button.menu.ativo span.um {
    width: 30px;
    bottom: 8px;
    right: -5px;
    transform: rotate(45deg);
}

nav button.menu.ativo span.dois {
    width: 30px;
    top: 8px;
    right: -5px;
    transform: rotate(-45deg);


}

.box-principal {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.section-pricipal {
    background-image: url(img-principal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1287.203px;
    height: 602.369px;
}

.card-principal {
    padding-top: 100px;
    padding-left: 100px;
    color: white;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    width: 450px;
}

.card-principal p {
    width: 400px;
    line-height: 26px;
    padding: 20px 0 40px 0;
}

.card-principal a {
    border-radius: 73.093px;
    background: #FC0;
    padding: 1em;
    color: black;
}

.box-dois {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    border-radius: 10px;
}

.section-dois {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fundo-dois.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1287.203px;
    height: 602.369px;
    border-radius: 10px;
    overflow: hidden;
}

.img-dois img {
    width: 100%;
}

.texto-dois {
    width: 400px;
    line-height: 34px;
}

.texto-dois h2 {
    font-size: 50px;
}

.texto-dois p {
    padding: 32px 0 32px 0;
}

.texto-dois a {
    color: rgb(255, 255, 255);
    background-color: black ;
    border-radius: 73.093px;
    padding: 1em;

}

.servicos-dois {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(fundo-servicos-dois.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-titulo-servicos-dois {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.box-titulo-servicos-dois a {
    color: black;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 30px;
    padding: 31px 44px;
    font-size: 25px;
    font-weight: 600;
}





.card-servicos-dois {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 20px;
    max-width: 980px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 20px;

}

.legenda-card {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 25px;
    color: white;
}

.plus {
    position: absolute;
    right: 20px;
    top: 10px;
}

.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
  }
  
  .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card .img-content svg {
    width: 50px;
    height: 50px;
    fill: #e8e8e8;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
  }
  
  .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(20px);
  }
  
  .card:hover .img-content svg {
    fill: transparent;
  }

  .cartao-numeros {
    display: flex;
    justify-content: center;
    background: #F4F4F4;
    padding: 100px 0 100px 0;
  }

  .card-numeros {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    gap: 37px;
  }

  .card-numeros .numeros2 {
    background-color: white;
    padding: 30px 20px 50px 30px;
    border-radius: 10px;
  }

  .card-numeros .numeros3 {
    background-color: black;
    padding: 30px 20px 50px 30px;
    border-radius: 10px;
  }

  .card-numeros .numeros3 h4 {
    color: #FC0;
  }

  .card-numeros .numeros3 p {
    color: white;

  }


  .card-numeros .numeros4 {
    background-color: white;
    padding: 30px 20px 50px 30px;
    border-radius: 10px;
  }

  .card-numeros .numeros5 {
    background-color: white;
    padding: 30px 20px 50px 30px;
    border-radius: 10px;
  }

  .card-numeros .numeros6 {
    background-color: white;
    padding: 30px 20px 50px 30px;
    border-radius: 10px;
  }

  .numeros {
    padding: 62px 22px 99px 22px;
    background-color: #f89b29;
  }

  .card-numeros h2 {
    width: 300px;
    padding-left: 10px;
  }

  .card-numeros p {
    width: 250px;
    color: #787878;
    font-size: 18px;


  }

  .card-numeros h3 {
    font-size: 50px;
    color: #FC0;
  }

  .card-numeros h4 {
    color: #5C5C5C;
    font-size: 24px;
    padding: 12px 0 12px 0;


  }

  .card-servicos-tres {
    background-color: #FC0;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 20px;
    max-width: 980px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.box-servicos-tres {
    background-color: black;
    padding: 50px 0 50px 0;
}



@media screen and (max-width: 1000px) {

    nav {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        padding: 1em;
        justify-content: space-between;
        margin-top: 0;
        border: 1px solid #636472;
        backdrop-filter: blur(100);
    }
    
    nav .opcoes  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: aliceblue;
        border: 1px solid #636472;
        background-color: rgb(0, 0, 0);
        backdrop-filter: blur(12.350000381469727px);
        top: 70px;
        right: 20px;
        position: fixed;
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
    }
    
    
    nav .opcoes.mostrar {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    
    .opcoes a {
        color: black;
    }
    
    
    nav button.menu {
        display: flex;
        width: 20px;
        height: 20px;
        position: relative;
        background-color: transparent;
    }
    
    nav button.menu span {
        background-color: #ffffff;
        position: absolute;
        border-radius: 5px;
        height: 3px;
        transition: all 0.3s;
    }
    
    nav button.menu span.um {
        width: 25px;
        bottom: 4px;
        right: 0;
    }
    
    nav button.menu span.dois {
        width: 35px;
        top: 4px;
        right: 0;
    
    }
    
    nav button.menu.ativo span {
        background-color: rgb(249, 0, 0);
        position: absolute;
        border-radius: 5px;
        height: 3px;
    }
    
    nav button.menu.ativo span.um {
        width: 30px;
        bottom: 8px;
        right: -5px;
        transform: rotate(45deg);
    }
    
    nav button.menu.ativo span.dois {
        width: 30px;
        top: 8px;
        right: -5px;
        transform: rotate(-45deg);
    
    
    }

    .logo  img {
        width: 60px;
    }

    .box-principal {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding: 100px 10px 0px 10px;
    }
    
    .section-pricipal {
        background-image: url(img-principal.png);
        background-repeat: no-repeat;
        background-size: 900px;
        width: 1287.203px;
        height: 500px;
    }
    
    .card-principal {
        padding-top: 60px;
        padding-left: 20px;
        color: white;
        border-radius: 10px;
    }
    
    h1 {
        font-size: 10px;
        width: 100%;
    }
    
    .card-principal p {
        width: 100%;
        font-size: 13px;
        line-height: 28px;
        padding: 20px 0 40px 0;
    }
    
    .card-principal a {
        border-radius: 73.093px;
        background: #FC0;
        padding: 1em;
        color: black;
        font-size: 14px;
    }

    .box-dois {
        display: flex;
        justify-content: center;
        padding-top: 0px;
        border-radius: 10px;
        padding: 0 10px 0 10px;
    }
    
    .box-texto-dois {
        padding: 1em;
    }

    .section-dois {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-image: url(fundo-dois-vertical.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 10px 20px 10px;
    }
    
    .img-dois img {
        width: 100%;
    }

    
    .texto-dois {
        line-height: 28px;
        width: 100%;
    }
    
    .texto-dois h2 {
        font-size: 30px;
        width: 100%;
    }
    
    .texto-dois p {
        width: 100%;
        padding: 32px 0 32px 0;
        font-size: 13px;
    }
    
    .texto-dois a {
        color: rgb(255, 255, 255);
        background-color: black ;
        border-radius: 73.093px;
        padding: 1em;
    
    }

    .card-servicos-dois {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        padding: 50px 10px;
        margin-top: -100px;
    }


    .servicos-dois {
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 0;
        padding-bottom: 0;
        height: 600px;
    }

    .box-titulo-servicos-dois {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .box-titulo-servicos-dois a {
        width: 100%;
        border-radius: 20px;
        padding: 16px;
        font-size: 25px;
    }

    .box-titulo-servicos-dois {
        padding: 0px 10px 0px 10px;
    }

    .box-titulo-servicos-dois a span {
        display: none;

    }

    .card-container {
      width: 300px;
      height: 300px;
      position: relative;
      border-radius: 10px;
    }
    
      .card-numeros {
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        gap: 37px;
        padding: 0 10px 0 10px ;
      }
    
      .card-numeros .numeros2 {
        width: 100%;
      }
    
      .card-numeros .numeros3 {
        width: 100%;
      }
    
    
      .card-numeros .numeros4 {
        width: 100%;
      }
    
      .card-numeros .numeros5 {
        width: 100%;
      }
    
      .card-numeros .numeros6 {
        width: 100%;
      }

      .card-servicos-tres {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        padding: 50px 10px;
        margin-top: -50px;
    }

    .box-servicos-tres {
        background-color: black;
        padding: 0;
    }

    

}

@media screen and (max-width: 1220px) {
    .img-dois img {
    }

}

@media screen and (max-width: 1120px) {
    h1 {
        font-size: 30px;
    }

}








